version: '2'
services:
  db:
    image: mysql:5.6
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "4306:3306"

  app:
    tty: true
    stdin_open: true
    build: .
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/myproject
      - bundle:/usr/local/bundle
      - public-data:/myproject/public
      - tmp-data:/myproject/tmp
      - log-data:/myproject/log
    links:
      - db

  web:
    build:
      context: containers/nginx
    volumes:
      - public-data:/myproject/public
      - tmp-data:/myproject/tmp
    ports:
      - 8080:80
    depends_on:
      - app
volumes:
  mysql-data:
  bundle:
  public-data:
  tmp-data:
  log-data: