.card_list-show-contents {
  .show-contents {
    &__upper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2%;
      border-bottom: dotted 1px;
      padding-bottom: 2%;
      &__image {
        width: 15%;
      }
      &__name {
        width: 25%;
        font-size: calc(15px + 1vw);
        text-align: center;
      }
      &__info {
        width: 45%;
        height: 30%;
        font-size: calc(10px + 0.5vw);
      }
      &__add {
        font-size: calc(5px + 0.5vw);
      }
      .admin-card__form {
        width: 10%;
        text-align: center;
      }
    }
    &__middle {
      margin-bottom: 10%;
      &__benefits {
        margin: 5% 0;
        font-size: 2vw;
        padding: 3%;
        border-radius: 1em;
        background-color:#e8e8e8;
        h2 {
          margin-bottom: 2%;
        }
        &__info {
          display: flex;
          .description {
            width: 90%;
          }
        }
      }
      &__coupons {
        font-size: 2vw;
        padding: 3%;
        border-radius: 1em;
        background-color:#e8e8e8;
        h2 {
          margin-bottom: 2%;
        }
        &__info {
          display: flex;
          justify-content: space-between;
          .description {
            width: 50%;
          }
        }
      }
    }
  }
}
