.container
  .benefit_list-contents
    %h2 特典情報を変更してください
    = form_with(url: admin_card_list_benefit_list_path(current_admin.id, @benefit_list.card_list.id, @benefit_list.id), method: :patch, local: true, class: "admin-card__form") do |form|
      .admin-card__form__benefit
        .admin-card__form__benefit__input
          = form.text_field :description, value: "#{@benefit_list.description}", required: true, class: "form-input description"
      .admin-card__form__submit
        = form.submit "特典内容を変更する", class: "form-submit btn btn-primary"

