.container
  .benefit_list-contents
    %h2 追加する特典情報を入力してください
    = form_with(url: admin_card_list_benefit_lists_path, local: true, class: "admin-card__form") do |form|
      .admin-card__form__benefit
        .admin-card__form__benefit__input
          = form.text_field :description, id: "text", required: true, class: "form-input description"
      .admin-card__form__submit
        = form.submit "特典を追加する", class: "form-submit btn btn-primary"





