<div class="container">
  <div class="contents">
    <% @cards.each do |card| %>
      <%= render partial: "card", locals: { card: card } %>
    <% end %>
    <% if user_signed_in? %>
      <p>現在のログインユーザー: <%= current_user.name %></p>
    <% end %>
    <% if admin_signed_in? %>
      <p>現在のログイン管理者: <%= current_admin.name %></p>
    <% end %>
  </div>
</div>