@charset "UTF-8";

/*========= base ===========*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

$brown-color: #2c1e0c;

.header {
  width: 100%;
  position: fixed;
  background-color: $light_blue;
  opacity: 0.85;
  color: white;
  z-index: 1;
  a {
    color: white;
  }
  .header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-name {
      line-height: 100px;
      padding-left: 40px;
      font-size: 3vw;
    }
    .header-contents {
      display: flex;
      line-height: 100px;
      font-size: 20px;
      &__content {
        margin-right: 50px;
        a {
          color: white;
        }
      }
    }
  }
}

.main-contents {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}


.footer {
  .content-wrapper {
    height: 300px;
    background-color: $brown-color;
    opacity: 0.9;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    .footer-contents {
      margin-top: 50px;
      li {
        display: flex;
        justify-content: start;
        width: 40%;
        margin: 0 auto;
        .property {
          text-align: left;
          width: 200px;
          padding-right: 50px;
        }
      }
    }
  }
  .copylight p {
    background-color: $brown-color;
    opacity: 0.9;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 0;
    color: white;
    font-size: 12px;
  }
}

.container {
  margin: 0 auto;
}

.index-contents {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .content-card {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 2%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 1em;
    &__image {
      width: 25%;
    }
    &__info {
      width: 50%;
      font-size: 20px;
      &__name {
        font-size: calc(15px + 1vw)
      }
      &__point {
        font-size: calc(13px + 0.5vw)
      }
    }
    &__delete {
      width: 13%;
      font-size: 1vw;
    }
  }
}

