.search {
  margin: 3% 0;
  .search-form {
    margin: 0 auto;
    text-align: center;
  }
  .search-input {
    width: 35%;
    font-size: calc(5px + 1vw);
  }
  .search-btn {
    width: 10%;
    font-size: calc(5px + 1vw);
  }
}

.new-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .content-card {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 2%;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 1em;
    &__image {
      width: 20%;
    }
    &__info {
      width: 50%;
      font-size: 20px;
      &__name {
        font-size: calc(10px + 1vw)
      }
      &__benefit {
        font-size: calc(13px + 0.5vw)
      }
      &__coupon {
        font-size: calc(13px + 0.5vw)
      }
    }
    .admin-card__form {
      width: 10%;
    }
    &__add {
      font-size: calc(5px + 0.5vw);
    }
  }
}