.benefit_list-contents {
  width: 100%;
  h2 {
    text-align: center;
    margin: 5% 0;
    font-size: calc(15px + 1vw);
  }
  .admin-card__form {
    width: 100%;
    &__benefit {
      &__input {
        width: 60%;
        margin: 3% auto;
        display: flex;
        font-size: calc(10px + 1vw);
        .form-input {
          width: 100%;
          align-items: center;
        }
      }
    }
    &__submit {
      text-align: center;
      margin-bottom: 5%;
    }
  }
}